* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-family: "Roboto", sans-serif;
    color: rgb(78, 77, 77);
    text-rendering: optimizeLegibility;
    font-size: 16px;
    background-color: rgb(247, 199, 199);
  }
  body {
    overflow-x: hidden;
  }
/*----------------------------------------------------------------*/
.message{
    overflow-y: visible;
    box-shadow: 3px 5px 10px #333;
    position: relative;
    top:20px;
    border-radius: 10px;
    margin: 0 auto;
    width: 50%;
    height: 90vh;
    background-color: rgb(241, 197, 197);
}
.text{
    padding: 5px 20px 3px 20px;
}
.b{
    font-weight: 600;
}